<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/assets/styles.css" type="text/css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  </head>
  <body>
    <% include partials/header.ejs %>
    <div class="container">

          <div class="card mb-6">
            <img src="https://images.unsplash.com/photo-1494122504854-93d897bc884b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" class="card-img-top" alt="pawnshop photo">
            <div class="card-block">
              <h5 class="card-title">About us</h5>
              <p class="card-text">In lacinia tempus egestas. Proin vehicula adipiscing porttitor. Vivamus ornare tincidunt diam, et sagittis ipsum vulputate sit amet. Sed luctus elementum enim eget semper. Sed eu risus sem, ut semper mauris. Donec sit amet accumsan nisi. Pellentesque fermentum feugiat lorem, vel adipiscing tortor vulputate sed. Morbi enim mi, euismod sit amet varius ut, pellentesque ut neque. Sed non aliquam orci. Etiam eu leo nisl. Nunc tellus nisl, suscipit at euismod nec,   hendrerit in arcu. Phasellus molestie enim eu odio dapibus blandit.
              </p>
          </div>
        </div>





    <div class="card mb-3 mt-5">
      <img src="http://2017images.imgix.net/myrtlebeachresorts1.jpg" class="card-img-top" alt="pawnshop photo">
      <div class="card-body">
        <h5 class="card-title">Location</h5>
        <p class="card-text">In lacinia tempus egestas. Proin vehicula adipiscing porttitor. Vivamus ornare tincidunt diam, et sagittis ipsum vulputate sit amet. Sed luctus elementum enim eget semper. Sed eu risus sem, ut semper mauris. Donec sit amet accumsan nisi. Pellentesque fermentum feugiat lorem, vel adipiscing tortor vulputate sed. Morbi enim mi, euismod sit amet varius ut, pellentesque ut neque. Sed non aliquam orci. Etiam eu leo nisl. Nunc tellus nisl, suscipit at euismod nec,   hendrerit in arcu. Phasellus molestie enim eu odio dapibus blandit.
        </p>

        </div>
      </div>
    </div>
    <footer class="bg-info" id="footer">
      <div id="contact-info">
        <p>Phone Number:xxx-xxx-xxxx</p>
        <p>Email Address: something@somewhere.com</p>
        <p>Fax Number:xxx-xxxx-xxxx</p>
      </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  </body>
</html>
